@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
font-family: "Fraunces", serif;
font-family: "Montserrat", system-ui;
 */
body{
  background-color: #f3eae3;
  font-family: "Montserrat", system-ui;
  font-size: 14px;
}
.box_main{

  border-radius: 8px;
  display: flex;
  gap: 10px;
}